---
title: Hoggle Demo
---

%section.container

  .row>
    .col.top.large-1of4.medium-1of1>
      %ul.main-nav
        - docs_as_hash.each do |doc|
          = partial "partials/doc-menu", locals: { doc: doc }

    .col.large-3of4.medium-1of1>
      - docs_as_hash.each do |doc|
        = partial "partials/doc", locals: { doc: doc }