---
title: Hoggle Demo
---

.container>

  .row.margin-v-6
    .col.small-1of1.center
      %h1 Columns

  .row.margin-bottom-3.visible-grid>
    .col.medium-1of1>
      .content.center>
        1 Column

  .row.margin-bottom-3.visible-grid>
    .col.medium-1of2>
      .content.center>
        2 Columns
    .col.medium-1of2>
      .content.center>
        2 Columns

  .row.margin-bottom-3.visible-grid>
    .col.medium-1of3>
      .content.center>
        3 Columns
    .col.medium-1of3>
      .content.center>
        3 Columns
    .col.medium-1of3>
      .content.center>
        3 Columns

  .row.margin-bottom-3.visible-grid>
    .col.medium-1of4>
      .content.center>
        4 Columns
    .col.medium-1of4>
      .content.center>
        4 Columns
    .col.medium-1of4>
      .content.center>
        4 Columns
    .col.medium-1of4>
      .content.center>
        4 Columns

  .row.visible-grid>
    .col.large-1of8.medium-1of4>
      .content.center>
        8 Columns
    .col.large-1of8.medium-1of4>
      .content.center>
        8 Columns
    .col.large-1of8.medium-1of4>
      .content.center>
        8 Columns
    .col.large-1of8.medium-1of4>
      .content.center>
        8 Columns
    .col.large-1of8.medium-1of4>
      .content.center>
        8 Columns
    .col.large-1of8.medium-1of4>
      .content.center>
        8 Columns
    .col.large-1of8.medium-1of4>
      .content.center>
        8 Columns
    .col.large-1of8.medium-1of4>
      .content.center>
        8 Columns

.container
  .row.margin-v-6>
    .col.small-1of1.center>
      %h1 Offsets

  .row.margin-bottom-3.visible-grid>
    .col.small-offset-1of2.small-1of2>
      .content.center
        2 Column Offset

  .row.margin-bottom-3.visible-grid>
    .col.small-offset-1of3.small-1of3
      .content.center
        3 Column Offset

  .row.margin-bottom-3.visible-grid>
    .col.small-offset-1of4.small-1of4
      .content.center
        4 Column Offset

  .row.margin-bottom-3.visible-grid>
    .col.small-offset-1of8.small-1of8
      .content.center
        8 Column Offset

.container

  .row.margin-bottom-3.visible-grid.show-x-large>
    .col.middle.center>
      %h2 Show X Large

  .row.margin-bottom-3.visible-grid.show-large>
    .col.middle.center>
      %h2 Show Large

  .row.margin-bottom-3.visible-grid.show-medium>
    .col.middle.center>
      %h2 Show Medium

  .row.margin-bottom-3.visible-grid.show-small>
    .col.middle.center>
      %h2 Show Small

  .row.margin-bottom-3.visible-grid.show-x-small>
    .col.middle.center>
      %h2 Show X Small

  .row.margin-bottom-3.visible-grid.hide-x-large>
    .col.middle.center>
      %h2 Hide X Large

  .row.margin-bottom-3.visible-grid.hide-large>
    .col.middle.center>
      %h2 Hide Large

  .row.margin-bottom-3.visible-grid.hide-medium>
    .col.middle.center>
      %h2 Hide Medium

  .row.margin-bottom-3.visible-grid.hide-small>
    .col.middle.center>
      %h2 Hide Small

  .row.margin-bottom-3.visible-grid.hide-x-small>
    .col.middle.center>
      %h2 Hide X Small

.row.margin-v-6>
  .col.middle.medium-1of3>
    %h1
      We Gots a Centered Title

  .col.middle.medium-2of3>
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a nisi neque. Suspendisse non erat sed justo lacinia sollicitudin non venenatis augue. Maecenas luctus ex libero, sed maximus lorem vulputate in. Sed et metus eget nulla laoreet tristique ut ac magna. Vestibulum diam nulla, interdum et volutpat sit amet, congue eget nisi.

    %p
      Maecenas luctus ex libero, sed maximus lorem vulputate in. Sed et metus eget nulla laoreet tristique ut ac magna. Vestibulum diam nulla, interdum et volutpat sit amet, congue eget nisi.

    %p
      Vestibulum diam nulla, interdum et volutpat sit amet, congue eget nisi.

.row.margin-v-6.swap>
  .col.middle.medium-1of3>
    %h1
      We Gots a Centered Title

  .col.middle.medium-2of3>
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a nisi neque. Suspendisse non erat sed justo lacinia sollicitudin non venenatis augue. Maecenas luctus ex libero, sed maximus lorem vulputate in. Sed et metus eget nulla laoreet tristique ut ac magna. Vestibulum diam nulla, interdum et volutpat sit amet, congue eget nisi.

    %p
      Maecenas luctus ex libero, sed maximus lorem vulputate in. Sed et metus eget nulla laoreet tristique ut ac magna. Vestibulum diam nulla, interdum et volutpat sit amet, congue eget nisi.

    %p
      Vestibulum diam nulla, interdum et volutpat sit amet, congue eget nisi.
