.row.visible-grid>
  .col.medium-1of1.margin-bottom-3>
    .content.center>
      %p.code .medium-1of1

  .row.visible-grid>
    .col.medium-1of2.margin-bottom-3>
      .content.center>
        %p.code .medium-1of2
    .col.medium-1of2.margin-bottom-3>
      .content.center>
        %p.code .medium-1of2

  .row.visible-grid>
    .col.medium-1of3.margin-bottom-3>
      .content.center>
        %p.code .medium-1of3
    .col.medium-1of3.margin-bottom-3>
      .content.center>
        %p.code .medium-1of3
    .col.medium-1of3.margin-bottom-3>
      .content.center>
        %p.code .medium-1of3

  .row.visible-grid>
    .col.medium-1of4.margin-bottom-3>
      .content.center>
        %p.code .medium-1of4
    .col.medium-1of4.margin-bottom-3>
      .content.center>
        %p.code .medium-1of4
    .col.medium-1of4.margin-bottom-3>
      .content.center>
        %p.code .medium-1of4
    .col.medium-1of4.margin-bottom-3>
      .content.center>
        %p.code .medium-1of4

  .row.visible-grid>
    .col.medium-1of8.margin-bottom-3>
      .content.center>
        %p.code .medium-1of8
    .col.medium-1of8.margin-bottom-3>
      .content.center>
        %p.code .medium-1of8
    .col.medium-1of8.margin-bottom-3>
      .content.center>
        %p.code .medium-1of8
    .col.medium-1of8.margin-bottom-3>
      .content.center>
        %p.code .medium-1of8
    .col.medium-1of8.margin-bottom-3>
      .content.center>
        %p.code .medium-1of8
    .col.medium-1of8.margin-bottom-3>
      .content.center>
        %p.code .medium-1of8
    .col.medium-1of8.margin-bottom-3>
      .content.center>
        %p.code .medium-1of8
    .col.medium-1of8.margin-bottom-3>
      .content.center>
        %p.code .medium-1of8