.row.visible-grid>
  %div{ "class" => "col -all-1of1 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of1

.row.visible-grid>
  %div{ "class" => "col -all-1of2 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of2
  %div{ "class" => "col -all-1of2 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of2

.row.visible-grid>
  %div{ "class" => "col -all-1of3 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of3
  %div{ "class" => "col -all-1of3 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of3
  %div{ "class" => "col -all-1of3 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of3

.row.visible-grid>
  %div{ "class" => "col -all-1of4 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of4
  %div{ "class" => "col -all-1of4 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of4
  %div{ "class" => "col -all-1of4 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of4
  %div{ "class" => "col -all-1of4 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of4

.row.visible-grid>
  %div{ "class" => "col -all-1of8 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of8
  %div{ "class" => "col -all-1of8 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of8
  %div{ "class" => "col -all-1of8 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of8
  %div{ "class" => "col -all-1of8 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of8
  %div{ "class" => "col -all-1of8 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of8
  %div{ "class" => "col -all-1of8 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of8
  %div{ "class" => "col -all-1of8 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of8
  %div{ "class" => "col -all-1of8 -mb-3" }>
    %div{ "class" => "content -c" }>
      %p.code col -all-1of8