%div{ "class" => "row -mb-3 visible-grid" }>
  %div{ "class" => "col -all-offset-1of2 -all-1of2" }>
    %div{ "class" => "content -c" }
      %p.code -all-offset-1of2

%div{ "class" => "row -mb-3 visible-grid" }>
  %div{ "class" => "col -all-offset-1of3 -all-1of3" }>
    %div{ "class" => "content -c" }
      %p.code -all-offset-1of3

%div{ "class" => "row -mb-3 visible-grid" }>
  %div{ "class" => "col -all-offset-1of4 -all-1of4" }>
    %div{ "class" => "content -c" }
      %p.code -all-offset-1of4

%div{ "class" => "row -mb-3 visible-grid" }>
  %div{ "class" => "col -all-offset-1of8 -all-1of8" }>
    %div{ "class" => "content -c" }
      %p.code .all-offset-1of8