.row.margin-bottom-3.visible-grid>
  .col.phone-offset-1of2.phone-1of2>
    .content.center
      %p.code .phone-offset-1of2

.row.margin-bottom-3.visible-grid>
  .col.phone-offset-1of3.phone-1of3>
    .content.center
      %p.code .phone-offset-1of3

.row.margin-bottom-3.visible-grid>
  .col.phone-offset-1of4.phone-1of4>
    .content.center
      %p.code .phone-offset-1of4

.row.margin-bottom-3.visible-grid>
  .col.phone-offset-1of8.phone-1of8>
    .content.center
      %p.code .phone-offset-1of8