.row.margin-bottom-3.visible-grid>
  .col.small-offset-1of2.small-1of2>
    .content.center
      %span.code .small-offset-1of2

.row.margin-bottom-3.visible-grid>
  .col.small-offset-1of3.small-1of3>
    .content.center
      %span.code .small-offset-1of3

.row.margin-bottom-3.visible-grid>
  .col.small-offset-1of4.small-1of4>
    .content.center
      %span.code .small-offset-1of4

.row.margin-bottom-3.visible-grid>
  .col.small-offset-1of8.small-1of8>
    .content.center
      %span.code .small-offset-1of8