.row.visible-grid.margin-bottom-3>
  .col.center.medium-1of2.medium-offset-1of4.pad-3>
    %span.code .pad-3

.row.visible-grid.margin-bottom-3>
  .col.center.medium-1of2.medium-offset-1of4.pad-v-3>
    %span.code .pad-v-3

.row.visible-grid.margin-bottom-3>
  .col.center.medium-1of2.medium-offset-1of4.pad-h-3>
    %span.code .pad-h-3

.row.visible-grid.margin-bottom-3>
  .col.center.medium-1of2.medium-offset-1of4.pad-top-3>
    %span.code .pad-top-3

.row.visible-grid.margin-bottom-3>
  .col.center.medium-1of2.medium-offset-1of4.pad-right-3>
    %span.code .pad-right-3

.row.visible-grid.margin-bottom-3>
  .col.center.medium-1of2.medium-offset-1of4.pad-bottom-3>
    %span.code .pad-bottom-3

.row.visible-grid.margin-bottom-3>
  .col.center.medium-1of2.medium-offset-1of4.pad-left-3>
    %span.code .pad-left-3