%div{ "class" => "row visible-grid -mb-3" }>
  %div{ "class" => "col -c -tablet-1of2 -tablet-offset-1of4 -p-3" }>
    %span.code -p-3

%div{ "class" => "row visible-grid -mb-3" }>
  %div{ "class" => "col -c -tablet-1of2 -tablet-offset-1of4 -pv-3" }>
    %span.code -pv-3

%div{ "class" => "row visible-grid -mb-3" }>
  %div{ "class" => "col -c -tablet-1of2 -tablet-offset-1of4 -ph-3" }>
    %span.code -ph-3

%div{ "class" => "row visible-grid -mb-3" }>
  %div{ "class" => "col -c -tablet-1of2 -tablet-offset-1of4 -pt-3" }>
    %span.code -pt-3

%div{ "class" => "row visible-grid -mb-3" }>
  %div{ "class" => "col -c -tablet-1of2 -tablet-offset-1of4 -pr-3" }>
    %span.code -pr-3

%div{ "class" => "row visible-grid -mb-3" }>
  %div{ "class" => "col -c -tablet-1of2 -tablet-offset-1of4 -pb-3" }>
    %span.code -pb-3

%div{ "class" => "row visible-grid -mb-3" }>
  %div{ "class" => "col -c -tablet-1of2 -tablet-offset-1of4 -pl-3" }>
    %span.code -pl-3
