.row.margin-bottom-3.visible-grid.show-x-desktop>
  .col.middle.center>
    %p.code .show-x-desktop

.row.margin-bottom-3.visible-grid.show-desktop>
  .col.middle.center>
    %p.code .show-desktop

.row.margin-bottom-3.visible-grid.show-tablet>
  .col.middle.center>
    %p.code .show-tablet

.row.margin-bottom-3.visible-grid.show-phone>
  .col.middle.center>
    %p.code .show-phone

.row.margin-bottom-3.visible-grid.show-x-phone>
  .col.middle.center>
    %p.code .show-x-phone

.row.margin-bottom-3.visible-grid.hide-x-desktop>
  .col.middle.center>
    %p.code .hide-x-desktop

.row.margin-bottom-3.visible-grid.hide-desktop>
  .col.middle.center>
    %p.code .hide-desktop

.row.margin-bottom-3.visible-grid.hide-tablet>
  .col.middle.center>
    %p.code .hide-tablet

.row.margin-bottom-3.visible-grid.hide-phone>
  .col.middle.center>
    %p.code .hide-phone

.row.margin-bottom-3.visible-grid.hide-x-phone>
  .col.middle.center>
    %p.code .hide-x-phone