.row.visible-grid>
  .col.desktop-1of8.tablet-1of4.phone-1of2.margin-bottom-3>
    .content.center>
      %p.code .desktop-1of8
      %p.code .tablet-1of4
      %p.code .phone-1of2
  .col.desktop-1of8.tablet-1of4.phone-1of2.margin-bottom-3>
    .content.center>
      %p.code .desktop-1of8
      %p.code .tablet-1of4
      %p.code .phone-1of2
  .col.desktop-1of8.tablet-1of4.phone-1of2.margin-bottom-3>
    .content.center>
      %p.code .desktop-1of8
      %p.code .tablet-1of4
      %p.code .phone-1of2
  .col.desktop-1of8.tablet-1of4.phone-1of2.margin-bottom-3>
    .content.center>
      %p.code .desktop-1of8
      %p.code .tablet-1of4
      %p.code .phone-1of2
  .col.desktop-1of8.tablet-1of4.phone-1of2.margin-bottom-3>
    .content.center>
      %p.code .desktop-1of8
      %p.code .tablet-1of4
      %p.code .phone-1of2
  .col.desktop-1of8.tablet-1of4.phone-1of2.margin-bottom-3>
    .content.center>
      %p.code .desktop-1of8
      %p.code .tablet-1of4
      %p.code .phone-1of2
  .col.desktop-1of8.tablet-1of4.phone-1of2.margin-bottom-3>
    .content.center>
      %p.code .desktop-1of8
      %p.code .tablet-1of4
      %p.code .phone-1of2
  .col.desktop-1of8.tablet-1of4.phone-1of2.margin-bottom-3>
    .content.center>
      %p.code .desktop-1of8
      %p.code .tablet-1of4
      %p.code .phone-1of2