.row.margin-bottom-3.visible-grid.show-x-large>
  .col.middle.center>
    %p.code .show-x-large

.row.margin-bottom-3.visible-grid.show-large>
  .col.middle.center>
    %p.code .show-large

.row.margin-bottom-3.visible-grid.show-medium>
  .col.middle.center>
    %p.code .show-medium

.row.margin-bottom-3.visible-grid.show-small>
  .col.middle.center>
    %p.code .show-small

.row.margin-bottom-3.visible-grid.show-x-small>
  .col.middle.center>
    %p.code .show-x-small

.row.margin-bottom-3.visible-grid.hide-x-large>
  .col.middle.center>
    %p.code .hide-x-large

.row.margin-bottom-3.visible-grid.hide-large>
  .col.middle.center>
    %p.code .hide-large

.row.margin-bottom-3.visible-grid.hide-medium>
  .col.middle.center>
    %p.code .hide-medium

.row.margin-bottom-3.visible-grid.hide-small>
  .col.middle.center>
    %p.code .hide-small

.row.margin-bottom-3.visible-grid.hide-x-small>
  .col.middle.center>
    %p.code .hide-x-small