.row.visible-grid>
  .col.large-1of8.medium-1of4.small-1of2.margin-bottom-3>
    .content.center>
      %p.code .large-1of8
      %p.code .medium-1of4
      %p.code .small-1of2
  .col.large-1of8.medium-1of4.small-1of2.margin-bottom-3>
    .content.center>
      %p.code .large-1of8
      %p.code .medium-1of4
      %p.code .small-1of2
  .col.large-1of8.medium-1of4.small-1of2.margin-bottom-3>
    .content.center>
      %p.code .large-1of8
      %p.code .medium-1of4
      %p.code .small-1of2
  .col.large-1of8.medium-1of4.small-1of2.margin-bottom-3>
    .content.center>
      %p.code .large-1of8
      %p.code .medium-1of4
      %p.code .small-1of2
  .col.large-1of8.medium-1of4.small-1of2.margin-bottom-3>
    .content.center>
      %p.code .large-1of8
      %p.code .medium-1of4
      %p.code .small-1of2
  .col.large-1of8.medium-1of4.small-1of2.margin-bottom-3>
    .content.center>
      %p.code .large-1of8
      %p.code .medium-1of4
      %p.code .small-1of2
  .col.large-1of8.medium-1of4.small-1of2.margin-bottom-3>
    .content.center>
      %p.code .large-1of8
      %p.code .medium-1of4
      %p.code .small-1of2
  .col.large-1of8.medium-1of4.small-1of2.margin-bottom-3>
    .content.center>
      %p.code .large-1of8
      %p.code .medium-1of4
      %p.code .small-1of2