.row.visible-grid>
  %div{ "class" => "col -desktop-1of8 -tablet-1of4 -phone-1of2 -mb-3" }>
    %div{ "class" => "content -c"}>
      %p.code -desktop-1of8
      %p.code -tablet-1of4
      %p.code -phone-1of2
  %div{ "class" => "col -desktop-1of8 -tablet-1of4 -phone-1of2 -mb-3" }>
    %div{ "class" => "content -c"}>
      %p.code -desktop-1of8
      %p.code -tablet-1of4
      %p.code -phone-1of2
  %div{ "class" => "col -desktop-1of8 -tablet-1of4 -phone-1of2 -mb-3" }>
    %div{ "class" => "content -c"}>
      %p.code -desktop-1of8
      %p.code -tablet-1of4
      %p.code -phone-1of2
  %div{ "class" => "col -desktop-1of8 -tablet-1of4 -phone-1of2 -mb-3" }>
    %div{ "class" => "content -c"}>
      %p.code -desktop-1of8
      %p.code -tablet-1of4
      %p.code -phone-1of2
  %div{ "class" => "col -desktop-1of8 -tablet-1of4 -phone-1of2 -mb-3" }>
    %div{ "class" => "content -c"}>
      %p.code -desktop-1of8
      %p.code -tablet-1of4
      %p.code -phone-1of2
  %div{ "class" => "col -desktop-1of8 -tablet-1of4 -phone-1of2 -mb-3" }>
    %div{ "class" => "content -c"}>
      %p.code -desktop-1of8
      %p.code -tablet-1of4
      %p.code -phone-1of2
  %div{ "class" => "col -desktop-1of8 -tablet-1of4 -phone-1of2 -mb-3" }>
    %div{ "class" => "content -c"}>
      %p.code -desktop-1of8
      %p.code -tablet-1of4
      %p.code -phone-1of2
  %div{ "class" => "col -desktop-1of8 -tablet-1of4 -phone-1of2 -mb-3" }>
    %div{ "class" => "content -c"}>
      %p.code -desktop-1of8
      %p.code -tablet-1of4
      %p.code -phone-1of2