%div{ "class" => "row -group -mv-6 -swap" }>
  %div{ "class" => "col -m -tablet-1of3" }>
    %figure{ "class" => "-phone-mb-4" }
      = image_tag 'hoggle.jpg'

  %div{ "class" => "col -m -tablet-2of3" }>
    :markdown
      ### Swapped Columns

      Swap column layout with <code class="code">.swap</code>. The order will stack correctly at phone sizes.