.row.group.margin-v-6.swap>
  .col.middle.tablet-1of3>
    %figure.x-phone-margin-bottom-4
      = image_tag 'hoggle.jpg'

  .col.middle.tablet-2of3>
    :markdown
      ### Swapped Columns

      Swap column layout with <code class="code">.swap</code>. The order will stack correctly at phone sizes.